td {
    cursor: pointer;
}

.label.approved {
    background-color: purple;
    color: white;
    font-weight: 500;
}

.label.submitted {
    background-color: #3c8dbc;
    color: white;
    font-weight: 500;
}