<div class="content">
  <div class="container-fluid">
    <app-loading [condition]="loading"></app-loading>
    <app-form-alert [message]="message" [success]="success"></app-form-alert>

    <div class="row">

      <!-- Sub Project Information -->
      <div class="col-md-6">
  
        <div class="card ">
          <div class="card-header ">
            <h4 class="card-title">Sub Project Information</h4>
          </div>
  
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-horizontal">
  
              <!-- Sub Project Name Field Start -->
              <div class="row">
                <label class="col-md-3 col-form-label">SubProject Name</label>
                <div class="col-md-8">
                  <div class="form-group has-default" [class.has-danger]="isInvalidField('SubProjectName')">
                    <input class="form-control" id="SubProjectName" formControlName="SubProjectName">
                    <ng-container *ngIf="isInvalidField('SubProjectName')">
                      <label *ngIf="form.get('SubProjectName').errors?.required" class="error">Sub Project Name is required</label>
                    </ng-container>
                  </div>
                </div>
              </div>
              <!--./ Sub Project Name Field End -->
    
              <!-- Dates Field Start -->
              <div class="row">
                <label class="col-md-3 col-form-label">Date</label>
                <div class="col-md-4">
                  <div class="form-group has-default" [class.has-danger]="isInvalidField('StartDate')">
                    <input type="text" class="form-control" formControlName="StartDate" id="StartDate" placeholder="Start Date" autocomplete="off">
                    <ng-container *ngIf="isInvalidField('StartDate')">
                      <label *ngIf="form.get('StartDate').errors?.required" class="error">Start date is required</label>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group has-default" [class.has-danger]="isInvalidField('EndDate')">
                    <input type="text" class="form-control" formControlName="EndDate" id="EndDate" placeholder="End Date" autocomplete="off">
                    <ng-container *ngIf="isInvalidField('EndDate')">
                      <label *ngIf="form.get('EndDate').errors?.required" class="error">End date is required</label>
                    </ng-container>
                  </div>
                </div>
              </div>
              <!--./ Dates Field End -->
    
              <!-- Budget Field Start -->
              <div class="row">
                <label class="col-md-3 col-form-label">Budget(£)</label>
                <div class="col-md-8">
                  <div class="form-group has-default" [class.has-danger]="isInvalidField('Budget')">
                    <input class="form-control" id="Budget" formControlName="Budget" (input)="calcRemaining()">
                    <ng-container *ngIf="isInvalidField('Budget')">
                      <label *ngIf="form.get('Budget').errors?.pattern" class="error">Budget must be number</label>
                    </ng-container>
                  </div>
                </div>
              </div>
              <!--./ Budget Field End -->
    
              <!-- Remaining Field Start -->
              <div class="row">
                <label class="col-md-3 col-form-label">Remaining(£)</label>
                <div class="col-md-8">
                  <div class="form-group has-default">
                    <input class="form-control" id="Remaining" readonly [value]="remaining | number : '1.2-2'">
                  </div>
                </div>
              </div>
              <!--./ Remaining Field End -->
    
              <!-- Status Field Start -->
              <div class="row">
                <label class="col-md-3 col-form-label">Status</label>
                <div class="col-md-8">
                  <div class="form-group has-default">
                    <select class="selectpicker" data-style="select-with-transition" id="Status" formControlName="Status">
                      <option *ngFor="let pStatus of projectStatuses" [value]="pStatus">{{pStatus}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!--./ Status Field End -->
    
              <div class="card-footer flex-column">
                <div class="text-center">
                  <button type="submit" class="btn btn-success" style="width: 150px">Save Project</button>&nbsp;&nbsp;
                  <a [routerLink]="['/admin/project/edit', projectId]" class="btn btn-warning" style="width: 150px">Cancel</a>
                </div>
              </div>
    
            </form>
          </div>
          
        </div>
  
      </div>
      <!--./ Sub Project Information -->

      <!-- project bar chart -->
      <div class="col-md-6">
       <app-subproject-barchart *ngIf="subProject" (totalEmit)="onTotalValues($event)"></app-subproject-barchart>
      </div>
      <!-- project bar chart -->
      
    </div>

    
    <div class="row">
      <!-- timesheet list for subproject -->
      <div class="col-md-6">
        <app-project-expenses-list [type]="'sub project'"></app-project-expenses-list>
      </div>
      <!--./ timesheet list for subproject -->

      <div class="col-md-6">
        <app-project-timesheets-list [type]="'sub project'"></app-project-timesheets-list>
      </div>
    </div>
  </div>
</div>
