@import "assets/scss/material-dashboard.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
.login-form .form-group .error {
    margin-left: 53px;
}

.is-invalid {
    border-color: #a94442;
}

.fade {
    opacity: 1;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
}

.card-title {
    display: inline-block;
}

.dataTables_length {
    text-align: left;
}

.Draft {
    color: coral;
}

.Submitted {
    color: #3c8dbc;
}

.Approved {
    color: purple;
}

.Paid {
    color: black;
}

.Rejected {
    color: red;
}

.Cancelled {
    color: #dd4b39;
}

.bg-Draft {
    background-color: coral !important;
}

.bg-Submitted {
    background-color: #3c8dbc !important;
}

.bg-Approved {
    background-color: purple !important;
}

.bg-Paid {
    background-color: black !important;
}

.bg-Rejected {
    background-color: red !important;
}

.bg-Cancelled {
    background-color: #dd4b39 !important;
}

.bg-Updated {
    background-color: green !important;
}

.bg-Draft, .bg-Submitted, .bg-Approved, .bg-Paid, .bg-Rejected, .bg-Cancelled, .bg-Updated {
    color: white !important;
}

.btn-paid, .btn-paid:hover {
    background-color: black;
    color: white;
}

.card-body.data-table {
    overflow-x: auto;
}

.card-body.project {
    min-height: 342px;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 70%;
}

.material-datatables {
    min-width: 400px;
}

.timeline {
    position: relative;
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.timeline>li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}

.timeline>li:after, .timeline>li:before {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:after, .timeline>li:before {
    content: " ";
    display: table;
}

.timeline>li>.fa, .timeline>li>.glyphicon, .timeline>li>.ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}

.timeline>li>.timeline-item {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}

.timeline>li>.timeline-item>.time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
}

.timeline>li>.timeline-item>.timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
}

.img-circle {
    border-radius: 50%;
}

.col-form-label {
    padding: 17px 5px 0 0;
    text-align: right;
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 400;
}

.table thead tr th {
    font-size: 13px;
}

.table thead th {
    font-weight: 500 !important;
}

.table td {
    font-size: 14px;
}

.dataTable>thead>tr>th, .dataTable>tbody>tr>th, .dataTable>tfoot>tr>th, .dataTable>thead>tr>td, .dataTable>tbody>tr>td, .dataTable>tfoot>tr>td {
    padding: 5px 30px 5px 10px !important;
}

.card .card-header-primary .card-icon {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 31, 55, 0.4);
    background: linear-gradient(60deg, #006dbe, #00508B);
}
